body {
  font-family: 'o';
  font-style: normal, sans-serif;
}

img {
  max-width: 100%;
}

// LINKS
a.underline {
  position: relative;
  padding: 2px;
}
  
a.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $base-gold;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
  
a.underline:hover:before {
  visibility: visible;
  width: 100%;
}

a.link-base {
  color: $deep-gold;
}

//LOGO
.logo {
  max-width: 100px;
  max-height: 100px;
}  

//UTIL
.up-30 {
  padding: 0 30px 0 30px;
} 


//COMPONENTS
.form-control {
  border-color: $base-gold;
  border-width: 2px;
}

.form-label {
  margin-bottom: 0.2rem;
}

.btn-primary {
  background-color: $deep-gold;
  border-color: $base-gold;
}

.btn-primary:hover {
  background-color: $dark-gold;
  border-color: $base-gold;
}
