@font-face {
  font-family:'o';
  src: url('../static/fonts/cera/o Italic.eot');
  src: url('../static/fonts/cera/o Italic.eot?#iefix') format('embedded-opentype'),
  url('../static/fonts/cera/o Italic.woff2') format('woff2'),
  url('../static/fonts/cera/o Italic.woff') format('woff'),
  url('../static/fonts/cera/o Italic.svg#o Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-04F3;
}

@font-face {
  font-family:'o';
  src: url('../static/fonts/cera/o Black.eot');
  src: url('../static/fonts/cera/o Black.eot?#iefix') format('embedded-opentype'),
  url('../static/fonts/cera/o Black.woff2') format('woff2'),
  url('../static/fonts/cera/o Black.woff') format('woff'),
  url('../static/fonts/cera/o Black.svg#o Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04F3;
}

@font-face {
  font-family:'o';
  src: url('../static/fonts/cera/o BlackItalic.eot');
  src: url('../static/fonts/cera/o BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../static/fonts/cera/o BlackItalic.woff2') format('woff2'),
  url('../static/fonts/cera/o BlackItalic.woff') format('woff'),
  url('../static/fonts/cera/o BlackItalic.svg#o BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-04F3;
}

@font-face {
  font-family:'o';
  src: url('../static/fonts/cera/o Bold.eot');
  src: url('../static/fonts/cera/o Bold.eot?#iefix') format('embedded-opentype'),
  url('../static/fonts/cera/o Bold.woff2') format('woff2'),
  url('../static/fonts/cera/o Bold.woff') format('woff'),
  url('../static/fonts/cera/o Bold.svg#o Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04F3;
}

@font-face {
  font-family:'o';
  src: url('../static/fonts/cera/o Light.eot');
  src: url('../static/fonts/cera/o Light.eot?#iefix') format('embedded-opentype'),
  url('../static/fonts/cera/o Light.woff2') format('woff2'),
  url('../static/fonts/cera/o Light.woff') format('woff'),
  url('../static/fonts/cera/o Light.svg#o Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04F3;
}
