.how-works {
  background: $base-gold url('../static/children-flower.jpg') no-repeat 0% 0%;
  background-position: center center;
  background-size: cover;
  background-size: auto;
}

.feature {
  background-color: $white;
  margin-top: 10px;
  margin-bottom: 10px;
}