@import "./fonts.scss";

body {
  background-color: #d3bb97;
  font-family: 'o';
  font-style: normal;
}

.navbar {
  padding: 5px 20px 5px 20px;
  background-color: #fff;
  justify-content: center;
  .menu {
    flex-grow: 0;
  }
}

a.underline {
  position: relative;
  padding: 2px;
}

a.underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d3bb97;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}


a.underline:hover:before {
  visibility: visible;
  width: 100%;
}


.logo {
  max-width: 100px;
  max-height: 100px;
}


@media (max-width: 991px) {
  .navbar {
    justify-content:space-between;
  }
}