.navbar {
  padding: 5px 20px 5px 20px;
  background-color: $white;
  justify-content: center;
  .menu {
    flex-grow: 0;
  }
}
  
  
@media (max-width: 991px) {
  .navbar {
    justify-content:space-between;
  }
}
