.reports {
  padding: 30px 30px 60px 30px;
  background-color: $base-gold;
}
.reports__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.sub-title {
  font-weight: normal;
}

.reports__layout {
  box-shadow: 1px 2px 2px rgb(107, 103, 103);
  padding: 30px;
  background-color: $gray;
}

.reports__button {
  margin: 0 auto;
  margin-top: 25px;
} 