.stories {
  padding: 30px 0px 35px 0px;
  background-color: $gray;
}

.stories__title {
  text-align: center;
}

.story {
  text-align: center;
  padding-top: 10px;
}

.story__title {
  font-weight: bold;
}

.story__description {
  text-align: justify;
}

.stories__btn {
  margin-top: 50px;
}

.stories__more {
  padding-top: 20px;
  text-align: center;
  color: $base-gold;
  font-weight: bold;
}